.pagination {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;

  &__button {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--color-secondary-dray);
    border-radius: 50%;

    &--activ {
      background-color: var(--color-primary-light);
    }
  }
}
